

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    
</head>
<body>
    <h1>Top K frequency words::</h1>
    <ul>
        {% for word in top_k_words %}
            <li>{{ word }}</li>  <!-- Display each filtered word in a list -->
        {% endfor %}
    </ul>
    <h1>Similarity between two words:</h1>


    <form id="similarity-form" method="POST" action="{% url 'get_input' %}">
        {% csrf_token %}
        <label for="word1">Key Word:</label>
        <input type="text" id="word1" name="word1" placeholder="Enter first word" required><br>

        <label for="word2">Calculate the similarity with:</label>
        <input type="text" id="word2" name="word2" placeholder="Enter second word" required>

        <button id="start-button" type="submit">Show</button>
        
        
    </form>

    <div id="cbow-similarity-score">CBOW similarity score:{{cbow_score}}</div>
    <div id="sg-similarity-score">SG similarity score:{{sg_score}}</div>
    <div id="similar-word-container">
        <div id="cbow-similar-word" class="similar-word-column">
            <h4>Similar Words (CBOW):</h4>
            {% if cbow_words %}
                <ul>
                    {% for word in cbow_words %}
                        <li>{{ word }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No similar words found.</p>
            {% endif %}
        </div>
        <div id="sg-similar-word" class="similar-word-column">
            <h4>Similar Words (SG):</h4>
            {% if sg_words %}
                <ul>
                    {% for word in sg_words %}
                        <li>{{ word }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No similar words found.</p>
            {% endif %}
        </div>
    </div>
    <script src="{% static 'js/main.js' %}"></script>


</body>
</html>
