<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    {% load static %}
    
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    
   
</head>

<body>
    <header class="header">
        <nav class="navbar">   
            <div class="nav-right">
                <img id='logo' src="{% static 'img/logo.png' %}" >
                <h1 class="title">IIR Search Engine</h1>              
            </div>
            <div class="nav-links">
                <a href="/index" class="home-link">Home</a>
                <a href="/about">About</a>
                <a href="/similarity">Similar Words</a>
                <a href="/contact">Contact</a>
            </div>
        </nav>
    </header>

    <form class="search-bar" action="{% url 'main_page' %}" method="get">
        <input type="text" name="query" placeholder="Search..." value="{{ query }}">
        <select name="selected_year" id="year">
            <option value="None"></option>
            {% for year in available_years %}
            <option value="{{ year }}" {% if year == selected_year %}selected{% endif %}>{{ year }}</option>
            {% endfor %}
        </select>
        <button type="submit">Search</button>
    </form>


    <div class="results">
        {% if query %}
            <p style="color: #757575;font-size: 1rem;font-weight: 400;">{{ results_count }} result(s) found.</p>
            {% if results %}
                {% for result in results %}
                    <div class="result-item">
                        <a href="{% url 'detail_page' result.id %}?query={{ query }}" class="result-link">
                            <h2>Title : {{ result.title_highlighted|safe }}</h2>
                            <p style="color:#128484;">PMID : {{ result.pmid }}</p>
                            <p style="color:#128484;">Date : {{ result.pubdate }}</p>
                            <p>{{ result.abstract_highlighted|truncatewords:20 }}</p>
                            <p style="color: #384b46;font-size: 0.9rem;font-weight: 700;">Keyword Count: {{ result.keyword }}</p>

                        </a>
                    </div>
                {% endfor %}
            {% else %}
                <p>No results found.</p>
            {% endif %}
        {% endif %}
    </div>


</body>

</html>