<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    {% load static %}
    
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/query.css' %}">
    
   
</head>

<body>
    <header class="header">
        <nav class="navbar">   
            <div class="nav-right">
                <img id='logo' src="{% static 'img/logo.png' %}" >
                <h1 class="title">IIR Q&A</h1>              
            </div>
            <div class="nav-links">
                <a href="/index" class="home-link">Home</a>
                <a href="/query">Query</a>
                <a href="/similarity">Similar Words</a>
                <a href="/contact">Contact</a>
            </div>
        </nav>
    </header>

    <form class="search-bar" action="{% url 'query_page' %}" method="get">
        <input id="search-placeholder"type="text" name="query" placeholder="Search..." value="{{ query }}">
        <button type="submit">Search</button>
        <br>
    </form>

    <div class="results">
            {% if results %}
                <p style="color: #757575;font-size: 1rem;font-weight: 400;">{{ results_count }} result(s) found.</p>
                {% for result in results %}
                    <div class="result-item">
                        <a href="{% url 'rank_sentence_page' result.id %}?query={{ query }}" class="result-link">
                            <h2>Title : {{ result.title}}</h2>
                            <p style="color:#128484;"><strong>Score : {{ result.score }}</strong></p>
                            <p>{{ result.abstract|truncatewords:20 }}</p>
                        </a>
                    </div>
                {% endfor %}
            {% else %}
                <p>No results found.</p>
            {% endif %}
    </div>

</body>

</html>
